<?xml version="1.0"?>

<launch>
	<arg name="resolution"		  default="qhd"/>
	<arg name="rgb_topic"       default="/kinect2/qhd/image_color_rect"/>
	<arg name="depth_topic"     default="/kinect2/qhd/image_depth_rect"/>
	<arg name="info_topic" 		default="/kinect2/qhd/camera_info"/>

	<arg name="base_frame_id"	default="base_footprint"/>
 
	<group ns="rtabmap">
  		<!-- Visualisation RTAB-Map -->
		 <node pkg="rtabmap_ros" type="rtabmapviz" name="rtabmapviz" args="" output="screen">
			 <param name="subscribe_depth" type="bool" value="true"/>
			 <param name="subscribe_odom_info" type="bool" value="true"/>
			 <param name="approx_sync" type="bool" value="true"/>
			 <param name="frame_id" type="string" value="$(arg base_frame_id)"/>

			 <remap from="rgb/image" to="$(arg rgb_topic)"/>
			 <remap from="depth/image" to="$(arg depth_topic)"/>
			 <remap from="rgb/camera_info" to="$(arg info_topic)"/>
		 </node>
	</group>
</launch>
